{% extends "google/layout.html" %}

{% block body %}
<div class="advanced-containter">
	<div class="appbar">
		<label style="margin-left:10px">Advanced Search</label>
	</div>
	<div class="divider"></div>
	<form action="https://www.google.com.br/search" method="GET">
		<div class="row subtitle">
			<div class="col-8">
				Find pages with...
			</div>
			<div class="col-4">
				To do this in the search box.
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				all these words:
			</div>
			<div class="col-6">
				<input value="" name="as_q" type="text">
			</div>
			<div class="col-4">
				Type the important words: <span>tri-colour rat terrier</span>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				this exact word or phrase:
			</div>
			<div class="col-6">
				<input value="" name="as_epq" type="text">
			</div>
			<div class="col-4">
				Put exact words in quotes: <span>"rat terrier"</span>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				any of these words
			</div>
			<div class="col-6">
				<input value="" name="as_oq" type="text">
			</div>
			<div class="col-4">
				Type OR between all the words you want: <span>miniature OR standard</span>
			</div>
		</div>
		<div class="row">
			<div class="col-2">
				none of these words:
			</div>
			<div class="col-6">
				<input value="" name="as_eq" type="text">
			</div>
			<div class="col-4">
				Put a minus sign just before words that you don't want: <span>-rodent, -"Jack Russell"</span>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<input class="submit" value="Advanced Search" type="submit">
			</div>
		</div>
	</form>
</div>
{% endblock %}